html {
  -ms-touch-action: none;
  /* 阻止windows Phone 的默认触摸事件 */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    height: 58px;
  }
  .header h1 {
    line-height: 58px;
  }
  .row {
    margin-top: 58px;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .header {
    height: 48px;
  }
  .header h1 {
    line-height: 48px;
  }
  .row {
    margin-top: 48px;
    margin-bottom: 20px;
    overflow-y: scroll;
  }
  .row .img-info {
    max-height: 40%;
  }
  .row .center-info {
    height: 60%;
  }
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #555251;
  z-index: 99999;
}
.header h1 {
  margin: 0;
  font-family: "微软雅黑";
  font-size: 24px;
  color: #ccc;
  font-weight: 400;
  text-align: center;
}
#pic_wrap {
  overflow: hidden;
  max-width: 980px;
  margin: auto;
}
.caption {
  padding: 0 15px;
}
.caption h3 {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
.caption p {
  font-size: 14px;
  color: #fff;
}
